.rbox, .rbox b.tc, .rbox b.bc
{
   background-color: transparent;
}

.rbox b.tc, .rbox b.bc,.rbox b.tc b.L1, .rbox b.tc b.L2, .rbox b.tc b.L3,.rbox b.bc b.L1, .rbox b.bc b.L2, .rbox b.bc b.L3
{
   font-size: 0px;
   padding: 0;
   display: block;
}

.rbox b.tc b.L1,.rbox b.tc b.L2,.rbox b.bc b.L1,.rbox b.bc b.L2
{
   height: 1px;
   line-height: 1px;
   overflow: hidden;
}

.rbox b.tc b.L1,.rbox b.bc b.L1
{
   margin: 0 4px;
}

.rbox b.tc b.L2,.rbox b.bc b.L2
{
   margin: 0 2px;
   border-width: 0 2px;
   border-style: solid;
}

.rbox b.tc b.L3,.rbox b.bc b.L3
{
   margin: 0 1px;
   border-width: 0 1px;
   border-style: solid;
   height: 2px;
   overflow: hidden;
}

.rbox .content
{
   border-left-style: solid;
   border-left-width: 1px;
   border-right-style: solid;
   border-right-width: 1px;
   margin: 0;
   overflow: hidden;
}

/* Left-side border color */
.rbox .content
{
   border-left-color: #87929f;
   border-right-color: #87929f;
}
/* Top border color */
.rbox b.tc b.L1,.rbox b.bc b.L1
{
   background-color: #87929f;
}
.rbox b.tc b.L2,.rbox b.tc b.L3,.rbox b.bc b.L2,.rbox b.bc b.L3
{
   border-color: #87929f;
}

/* -- Default params for where content is ---- */
/*
background-color: #9aa6b5;
*/
.rbox b b.L2, .rbox b b.L3
{
   background-color: rgba(154, 166, 181, 0.90);
}

.rbox .content
{
   padding: 5px;
   background-color: rgba(154, 166, 181, 0.90);
   
   vertical-align: top;
}

