# firebase configs certs
.cert
.firebase

# OS files
.DS_Store

.db
.notes
.backup
*.apk

**/release/app.aab

# node/npm files
package-lock.json
node_modules
npm-debug.log

# forever
out.log
err.log
forever.log

# Editors
.idea
.vscode

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
