.welcome {
  padding-bottom: 250px;

  div, h2 {
    text-align: center;
    color: transparentize(white, 0.15);
    //text-shadow: 2px 2px transparentize(black, 0.55);
  }

  div {
    padding-top: 6em;
    padding-bottom: 3em;
    //margin-bottom: 15vw;
  }

  h2 {
    font-size: 4.5em;
    padding-top: 5vw;
    padding-bottom: 5vw;
  }

  p {
    font-size: 2em;
    text-align: center;
    color: white;
  }
}