.welcome {
  div, h2 {
    text-align: center;
    color: transparentize(white, 0.15);
    //text-shadow: 2px 2px transparentize(black, 0.55);
  }

  //.initHidden {
  //  opacity: 0;
  //}

  div {
    margin-bottom: 15vw;
  }

  h2 {
    font-size: 5vw;
    padding-top: 10vw;
    padding-bottom: 1vw;
  }

  p {
    font-size: 2vw;
    text-align: center;
    color: white;
  }
}